html {
    margin: 0;
}

body {
    font-family: "Roboto";
    text-align: center;
}

main {
    margin: 64px auto;
    max-width: 800px;
}

.shit {
    margin-bottom: 20px;
    padding: 20px 20px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0,0,0,.12)
}

.shit .text {
    font-size: 14pt;
}

.shit .timestamp {
    text-align: right;
}
