html {
    margin: 0;
}

body {
    font-family: "Roboto";
    text-align: center;
}

main {
    margin: 64px auto;
    max-width: 800px;
}

.shit {
    margin-bottom: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    border: 1px solid black;
}

.shit .text {
    font-size: 14pt;
}

.shit .timestamp {
    text-align: right;
}
